<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nutrition Analysis</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <%- include('partials/header', { req: req }) %>
    <div class="container mt-5">
        <h2>Nutrition Analysis</h2>
        <form id="nutritionForm" action="/nutrition-analysis" method="POST">
            <div class="mb-3">
                <label for="query" class="form-label">Enter food item:</label>
                <input type="text" class="form-control" id="query" name="query" required>
            </div>
            <button type="submit" class="btn btn-primary">Analyze</button>
        </form>
        <% if (nutritionData) { %>
            <div class="result alert alert-info" role="alert">
                <p><%= nutritionData.name%> in  <%=nutritionData.serving_size_g%> g</p>
                <p>Calories: <%= nutritionData.calories %></p>
                <p>Protein: <%= nutritionData.protein_g %>g</p>
                <p>Fat: <%= nutritionData.fat_total_g %>g</p>
                <p>Carbohydrates: <%= nutritionData.carbohydrates_total_g %>g</p>
                <p>Sugar: <%= nutritionData.sugar_g%>g</p>
            </div>
        <% } else { %>
            <p>No nutrition data to display.</p>
        <% } %>

    </div>
</body>
</html>
